* {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 20px;
}

.body-bg {
  background-color:rgba(195, 195, 199, 0.747);
  width: 100%;
}

.navbar {
  background-color: rgba(195, 195, 199, 0.747);
  width:100%;
  justify-content: center;
  text-align: center;
  height: 93px;
}

.heading {
  display: contents;
  text-align: center;
}

.song {
  color: rgb(45, 45, 45);
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: transparent;
}

.lyrics {
  color: #397abc;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: transparent;
}

.com {
  color: rgb(45, 45, 45);
  background: transparent;
  padding-top: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.songlyrics {
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(11, 28, 60)  ;
}

.artist, .songs, .lyric_heading {
  color: rgba(1, 3, 5, 0.726);
  font-weight:bolder;

}

a,a:active,a:focus {
  text-decoration: none;
  color: inherit;
}

h1,h3 {
  text-align: center;
  text-shadow: #467fb9;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.artist-item, .song-item {
  border-radius: 2px;
  min-width: 20px;
  margin-bottom: 3px;
  padding-left: 5px;
  align-self:center;
  color: rgb(24, 75, 141);
  
}

.artist-item:hover {
  outline-color: rgb(32, 89, 194);
  background-color: whitesmoke;
  color: rgb(32, 89, 196);
}

.song-item:hover {
  outline-color: whitesmoke;
  background-color: whitesmoke;
  color:rgb(24, 120, 209);
}

div.col-3 {
  border-right: 4px double rgb(101, 100, 100);
  font-size: 100%;
}

.footer {
  background-color:white;
  width:100%;
  height: 43px;
  padding-bottom: 0px;
  text-align: center;
  text-shadow: #397abc;
}

li.current {
  background-color:crimson;
}

