<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of songs by {{artist}}</title>
</head>
<body>
        <h1>Songs</h1>
        <p>These are the songs for <b
            >{{artist}}</b>.</p>
        <p>
            <ol>{%for song in songs%}
                <li>{{song[0]}}</li>
                {%endfor%}
            </ol>
        </p>
        <hr/> Copyright Lyrics Crawler. 2022
</body>
</html>